name: Backend CI (Django)

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  django-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Set environment variables
        run: |
          echo "SECRET_KEY=dummy-secret-key" >> $GITHUB_ENV
          echo "DEBUG=True" >> $GITHUB_ENV

      - name: Django system check
        run: python manage.py check

      - name: Apply migrations
        run: python manage.py migrate

      - name: Run tests
        run: python manage.py test
